/* 清除内外边距 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* 设置版心 */
.w {
   width: 1200px;
   margin: auto;  
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    width: 198px;
    height: 42px;
    float: left;
}

.logo a {
    text-indent: -999px;
    background: url(../images/logo_03.png) no-repeat;
    display: block;
     /*京东做法*/
	/* font-size: 0;  */
}

.nav {
    float: left;
    margin-left: 20px;
}

.nav li {
    float: left;
    margin:0 15px;
}

.nav li a {
    font-weight: 800;
    display: block;
    color:#050505;
    height: 42px;
    font-size: 18px;
    line-height: 42px;
    padding:0 10px;
}

.nav li:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    width: 412px;
    height: 40px;
    float: left;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    padding-left: 15px;
}
.search button {
    float: left;
    height: 40px;
    width: 50px;
    background: #00a4ff url(../images/search_06.png) center center no-repeat;
    border:0px;
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
}

.user span {
    margin-right: 16px;
    font-size: 14px;
}

.user img {
    margin-right: 20px;
}